version: '3.9'

services:
  mongodb:
    image: mongo:6
    container_name: brewaco-mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_INITDB_ROOT_USERNAME}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_INITDB_ROOT_PASSWORD}"
      MONGO_INITDB_DATABASE: "${MONGO_INITDB_DATABASE}"
    volumes:
      - ./mongo_data:/data/db
    ports:
      - "27017:27017"

  meilisearch:
    image: getmeili/meilisearch:v1.11
    container_name: brewaco-meilisearch
    restart: always
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_ENV: "production"
      MEILI_MASTER_KEY: "${MEILI_API_KEY}"
    volumes:
      - ./meili_data:/meili_data
    ports:
      - "7700:7700"

  backend-public:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: brewaco-backend-public
    restart: always
    depends_on:
      - mongodb
      - meilisearch
    ports:
      - "9001:9001"
    command: [ "npm", "run", "start:public" ]

  backend-admin:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: brewaco-backend-admin
    restart: always
    depends_on:
      - mongodb
      - meilisearch
    ports:
      - "9002:9002"
    command: [ "npm", "run", "start:admin" ]

    nginx:
      image: nginx:latest
      container_name: brewaco-nginx
      restart: always
      ports:
        - "80:80"
#        - "443:443"
      depends_on:
        - backend-public
        - backend-admin
      volumes:
        - ./nginx/conf.d:/etc/nginx/conf.d
#        - ./nginx/ssl:/etc/nginx/ssl

